<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vero, ipsum quae tempore, necessitatibus autem atque ipsam ex minima, error pariatur illo non dolor. Itaque minus officiis aliquid ratione fugit. Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Animi necessitatibus rerum consequatur alias dolor reiciendis unde iure provident vero sequi, quis pariatur accusamus numquam blanditiis! Minima repellat quos quaerat odio!</p>