<img class="card-img-top animated fadeIn" src="{{ heroe.img }}" alt="{{ heroe.nombre }}">
<div class="card-body">
    <h5 class="card-title">{{ heroe.nombre}}</h5>
    <p class="card-text">{{heroe.bio}}</p>
    <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
</div>
<button (click)="verHeroe()" class="btn btn-outline-primary btn-block">Ver mas...</button>
<!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block">Ver mas link...</a> -->