<h1 class="animated fadeIn fast">Heroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="heroe" class="card" *ngFor="let heroe of heroes"></app-heroe-tarjeta>
</div>