<h1 class="animated fadeIn">Busqueda <small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el termino: {{ termino }}
        </div>
    </div>
</div>

<div class="card-columns">
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="heroe" class="card" *ngFor="let heroe of heroes"></app-heroe-tarjeta>
</div>